@source '../../../../packages/ui/src/**/*.{js,ts,jsx,tsx,mdx}';
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: oklch(100% 0 0);
  --foreground: oklch(14.5% 0 0);
  --card: oklch(100% 0 0);
  --card-foreground: oklch(14.5% 0 0);
  --popover: oklch(100% 0 0);
  --popover-foreground: oklch(14.5% 0 0);
  --primary: oklch(20.5% 0 0);
  --primary-foreground: oklch(98.5% 0 0);
  --secondary: oklch(97% 0 0);
  --secondary-foreground: oklch(20.5% 0 0);
  --muted: oklch(97% 0 0);
  --muted-foreground: oklch(55.6% 0 0);
  --accent: oklch(97% 0 0);
  --accent-foreground: oklch(20.5% 0 0);
  --destructive: oklch(57.7% 0.245 27.3);
  --destructive-foreground: oklch(98.5% 0 0);
  --info: oklch(20.5% 0 0);
  --info-foreground: oklch(98.5% 0 0);
  --success: oklch(62.7% 0.17 149.2);
  --success-foreground: oklch(98.5% 0 0);
  --warning: oklch(76.9% 0.135 71.3);
  --warning-foreground: oklch(20.5% 0 0);
  --border: oklch(92.2% 0 0);
  --input: oklch(92.2% 0 0);
  --ring: oklch(14.5% 0 0);
  --radius: 1rem;
  --grid-color: oklch(0% 0 0 / 0.05);
}

.dark {
  --background: oklch(14.5% 0 0);
  --foreground: oklch(98.5% 0 0);
  --card: oklch(14.5% 0 0);
  --card-foreground: oklch(98.5% 0 0);
  --popover: oklch(14.5% 0 0);
  --popover-foreground: oklch(98.5% 0 0);
  --primary: oklch(98.5% 0 0);
  --primary-foreground: oklch(14.5% 0 0);
  --secondary: oklch(26.8% 0 0);
  --secondary-foreground: oklch(98.5% 0 0);
  --muted: oklch(26.8% 0 0);
  --muted-foreground: oklch(70.8% 0 0);
  --accent: oklch(26.8% 0 0);
  --accent-foreground: oklch(98.5% 0 0);
  --destructive: oklch(39.6% 0.141 25.7);
  --destructive-foreground: oklch(98.5% 0 0);
  --info: oklch(98.5% 0 0);
  --info-foreground: oklch(14.5% 0 0);
  --success: oklch(80% 0.182 151.7);
  --success-foreground: oklch(14.5% 0 0);
  --warning: oklch(83.7% 0.164 84.4);
  --warning-foreground: oklch(14.5% 0 0);
  --border: oklch(26.8% 0 0);
  --input: oklch(26.8% 0 0);
  --ring: oklch(98.5% 0 0);
  --grid-color: oklch(100% 0 0 / 0.05);
  --shadow-lg: 0 10px 30px -10px oklch(0% 0 0 / 0.9);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 0.75rem);
  --radius-md: calc(var(--radius) - 0.5rem);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 0.5rem);
  --radius-2xl: calc(var(--radius) + 1rem);
  --font-sans: var(--font-sans);
  --font-heading: var(--font-heading);
  --animate-blink: blink 2s infinite;
}

@layer base {
  body::-webkit-scrollbar {
    width: 6px;
  }

  body::-webkit-scrollbar-track {
    background: #000000;
  }

  body::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 10px;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
    @apply border-border scroll-smooth;
  }

  body {
    @apply bg-background text-foreground font-sans tracking-wide antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.gradient-text {
  @apply from-foreground to-foreground/30 bg-linear-to-br bg-clip-text leading-tight font-extrabold tracking-tight text-balance text-transparent;
}

@keyframes blink {
  0%,
  92%,
  100% {
    transform: scaleY(0);
  }

  95%,
  97% {
    transform: scaleY(1);
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
