@source '../../../../packages/ui/src/**/*.{js,ts,jsx,tsx,mdx}';
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: oklch(100% 0.00011 271.152);
  --foreground: oklch(23.929% 0.00003 271.152);
  --card: oklch(96.555% 0.00805 254.092);
  --card-foreground: oklch(23.929% 0.00003 271.152);
  --popover: oklch(100% 0.00011 271.152);
  --popover-foreground: oklch(23.929% 0.00003 271.152);
  --primary: oklch(57.371% 0.19468 257.874);
  --primary-foreground: oklch(100% 0.00011 271.152);
  --secondary: oklch(94.764% 0.01214 259.93);
  --secondary-foreground: oklch(23.929% 0.00003 271.152);
  --muted: oklch(96.555% 0.00805 254.092);
  --muted-foreground: oklch(39.476% 0.00429 174.862);
  --accent: oklch(91.329% 0.01163 252.268);
  --accent-foreground: oklch(23.929% 0.00003 271.152);
  --destructive: oklch(57.844% 0.20625 29);
  --destructive-foreground: oklch(100% 0.00011 271.152);
  --info: oklch(54.616% 0.21529 262.896);
  --info-foreground: oklch(100% 0.00011 271.152);
  --success: oklch(62.706% 0.1699 149.234);
  --success-foreground: oklch(100% 0.00011 271.152);
  --warning: oklch(66.583% 0.15738 58.309);
  --warning-foreground: oklch(100% 0.00011 271.152);
  --border: oklch(91.583% 0.0001 271.152);
  --input: oklch(100% 0.00011 271.152);
  --ring: oklch(49.49% 0.19924 260.617);
  --radius: 1.5rem;
  --grid-color: oklab(0% 0 0 / 0.09);
}

.dark {
  --background: oklch(13.979% 0.00002 271.152);
  --foreground: oklch(93.118% 0.01384 254.092);
  --card: oklch(23.929% 0.00003 271.152);
  --card-foreground: oklch(93.118% 0.01384 254.092);
  --popover: oklch(23.863% 0.00246 248.184);
  --popover-foreground: oklch(91.583% 0.0001 271.152);
  --primary: oklch(76.61% 0.1084 259.811);
  --primary-foreground: oklch(0% 0 0);
  --secondary: oklch(30.396% 0.00461 248.154);
  --secondary-foreground: oklch(91.583% 0.0001 271.152);
  --muted: oklch(17.764% 0.00002 271.152);
  --muted-foreground: oklch(67.312% 0.00008 271.152);
  --accent: oklch(30.396% 0.00461 248.154);
  --accent-foreground: oklch(76.61% 0.1084 259.811);
  --destructive: oklch(71.061% 0.16614 22.191);
  --destructive-foreground: oklch(100% 0.00011 271.152);
  --info: oklch(71.375% 0.14347 254.643);
  --info-foreground: oklch(0% 0 0);
  --success: oklch(80.036% 0.18204 151.736);
  --success-foreground: oklch(0% 0 0);
  --warning: oklch(83.685% 0.16435 84.431);
  --warning-foreground: oklch(0% 0 0);
  --border: oklch(22.254% 0.00194 286.054);
  --input: oklch(17.764% 0.00002 271.152);
  --ring: oklch(76.61% 0.1084 259.811);
  --grid-color: oklch(100% 0.00011 271.152 / 0.03);
  --shadow-lg: 0 10px 30px -10px oklch(0% 0 0 / 0.9);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 0.75rem);
  --radius-md: calc(var(--radius) - 0.5rem);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 0.5rem);
  --radius-2xl: calc(var(--radius) + 1rem);
  --font-sans: var(--font-sans);
  --font-heading: var(--font-heading);
}

@layer base {
  body::-webkit-scrollbar {
    width: 6px;
  }

  body::-webkit-scrollbar-track {
    background: #000000;
  }

  body::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 10px;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
    @apply border-border scroll-smooth;
  }

  body {
    @apply bg-background text-foreground font-sans tracking-wide antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}

.grid-main-container {
  @apply grid grid-rows-[auto_1fr_auto];
}

.bg-grid-pattern {
  background-image:
    radial-gradient(circle at center, transparent 0%, var(--background) 100%),
    linear-gradient(var(--grid-color) 1px, transparent 1px),
    linear-gradient(90deg, var(--grid-color) 1px, transparent 1px);
  background-position:
    center,
    0 0,
    0 0;
  background-size:
    100% 100%,
    50px 50px,
    50px 50px;
  background-repeat: no-repeat, repeat, repeat;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.gradient-text {
  @apply from-foreground to-foreground/30 bg-linear-to-br bg-clip-text leading-tight font-extrabold tracking-tight text-balance text-transparent;
}
